* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Re-usable Utility Classes */

.tall-50 { min-height: 50vh; }
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-90 { min-height: 90vh; }
.tall-100 { min-height: 100vh; }

.padded { padding: 5%; }

.padded-1,
.grid.padded-1 { padding: 1rem; }

.padded-2,
.grid.padded-2 { padding: 2rem; }

.margin-b-0 { margin-bottom: 0; }

.bg-light { background-color: #F8F6F4; }
.bg-featured { background-color: #f59186; }

.text-featured { color: #f59186; }
.bold-text { font-weight: bold; }

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }

/* General Typography & Universal Styles */

body {
    font-family: 'Libre Baskerville', serif;
    color: rgb(65,60,60);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Didot', serif;
    line-height: 1;
    margin-bottom: 1rem;
    font-weight: normal;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }

p { 
    line-height: 1.4;
    font-size: 1rem;
    margin-bottom: 1.2rem;
}

ul { margin-left: 1rem; }
li { padding-left: .5rem; }

nav { 
    font-size: 1.3rem;
    font-family: 'Didot', serif;
    color: #f59186;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
    margin-bottom: 0;
}

.text-lg { font-size: 3.5rem; }
.text-xl { font-size: 4.5rem; }
.text-xxl { font-size: 8.5rem; }
.text-bold { font-size: bold; }

.text-lato { 
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #e37165;
}

a {
    text-decoration: none;
    color: inherit;
}

.button {
    color: inherit;
    border: 1px solid #f59186;
    border-radius: 2rem;
    text-decoration: none; 
    padding: 0.5rem 1.5rem;
    display: inline-block;
}

/* Header & Footer */

footer {
    padding-bottom: 0.5rem;
    color: #f59186;
}


/* Images & Background Images */

.bg-image {
    background-size: cover;
    background-position: center;
    background-image: url('./images/zen-studio-1.jpg')
}

.bg-stone { background-image: url('./images/stone.png') }
.bg-leaves {
    background-image: url('./images/leaves-light.png');
    background-position: 50% 31%;
}

.bg-venue { background-image: url('./images/zen-studio-3.jpg') }
.bg-map { background-image: url('./images/light-colored-map.png') }

.shape-teardrop {
    border-radius: 20rem;
    border-bottom-right-radius: 0;
}

.shape-window {
    border-top-left-radius: 20rem;
    border-top-right-radius: 20rem;
}

/* Media Queries 
@media (max-width: 36em) Max 576px   _xs-*
@media (max-width: 48em) Max 768px   _sm-*
@media (max-width: 64em) Max 1024px  _md-*
@media (max-width: 80em) Max 1280px  _lg-*
*/

/* Gridlex SM query - Max 768px - _sm-* */
@media (max-width: 48em) {
    .text-xxl { font-size: 6.5rem; }
    .text-xl { font-size: 3.5rem; }

    .sm-block { display: block; }
    .bg-leaves { background-image: url('./images/leaves-light.png');}

    .text-center-sm { text-align: center; }
}

/* Gridlex XS media query - Max 576px - _xs-* */
@media (max-width: 36em) {
    .text-xl { font-size: 2.5rem; }
    .text-lg { font-size: 2.5rem; }
    .text-xxl { font-size: 4.5rem; }
}

/* Custom XXS media query - Max 400px - _xs-* */
@media (max-width: 25em) {
    .text-xxl { font-size: 2.5rem; }
}